	@font-face { font-family: "BebasNeueBold"; 	src: url('BebasNeueBold.ttf'); }
	@font-face { font-family: "BebasNeueBook"; 	src: url('BebasNeueBook.ttf'); }
	@font-face { font-family: "BebasNeueLight"; src: url('BebasNeueLight.ttf'); }
	@font-face { font-family: "BebasNeueRegular"; src: url('BebasNeueRegular.ttf'); }
	@font-face { font-family: "BebasNeueThin"; 	src: url('BebasNeueThin.ttf'); }

body {
    background-attachment:fixed;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
	overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}

html { 
	height: 100%;
	margin: 0px;
	overflow: hidden;
}

#poster { 
	position: absolute;
	background-image: url("poster.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

#bulle1 { 
	position: absolute;
	top: 8%;
	left: 7%;
	width: 20vw;
	height: 10vw;
	border-radius: 50px;
	background-color: rgba(255,255,255,0.8);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	font-family: "Comic Sans MS";
	font-size: 30px;
	padding-top: calc(5vw - 15px);
}
#bulle1::before { 
	content: "";
	position: absolute;
	top: 100%;
	right: 50%;
	border-top: 3vw solid rgba(255,255,255,0.8);
	border-bottom: 1.5vw solid transparent;
	border-right: 1.5vw solid transparent;
}

#crea { 
	position: absolute;
	top: 8%;
	right: 47%;
	width: 20vw;
	height: 12vw;
	border-radius: 50px;
	background-color: rgba(255,255,255,0.8);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	font-family: "Comic Sans MS";
	font-size: 30px;
	padding-top: calc(5vw - 15px);
	-webkit-transform: rotate(10deg);
}
#crea::before { 
	content: "";
	position: absolute;
	top: 50%;
	left: 100%;
	border-top: 1.5vw solid rgba(255,255,255,0.8);
	border-bottom: 1.5vw solid transparent;
	border-right: 3vw solid transparent;
}
#crea img { 
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 100%;
}

#infos { 
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: right;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 20px;
	font-size: 100px;
	font-family: "BebasNeueBold";
	letter-spacing: 1px;
	color: rgba(127,38,53,0.95);
	text-shadow: 0px 0px 50px #7F264E;
}

