@font-face { font-family: "BebasNeueBold"; 	src: url('../fonts/BebasNeue/BebasNeueBold.ttf'); }
@font-face { font-family: "BebasNeueBook"; 	src: url('../fonts/BebasNeue/BebasNeueBook.ttf'); }
@font-face { font-family: "BebasNeueLight"; src: url('../fonts/BebasNeue/BebasNeueLight.ttf'); }
@font-face { font-family: "BebasNeueRegular"; src: url('../fonts/BebasNeue/BebasNeueRegular.ttf'); }
@font-face { font-family: "BebasNeueThin"; 	src: url('../fonts/BebasNeue/BebasNeueThin.ttf'); }

@font-face { font-family: "StarJedi"; 	src: url('../fonts/Star/Starjedi.ttf'); }
@font-face { font-family: "StarHole"; 	src: url('../fonts/Star/Starjhol.ttf'); }
@font-face { font-family: "StarOut"; 	src: url('../fonts/Star/Starjout.ttf'); }

@font-face { font-family: "SourceSansProBold"; 	src: url('../fonts/sourceSansPro/SourceSansProBold.ttf'); }
@font-face { font-family: "SourceSansProLight"; src: url('../fonts/sourceSansPro/SourceSansProLight.ttf'); }
@font-face { font-family: "SourceSansProRegular"; src: url('../fonts/sourceSansPro/SourceSansProRegular.ttf'); }
@font-face { font-family: "SourceSansProSemibold"; 	src: url('../fonts/sourceSansPro/SourceSansProSemibold.ttf'); }

:root {
	--orange1 : #FFAC09;
	--orange2 : #F67F12;
	--orange3 : #E9531C;
	--orange4 : #F6930F;
	--bleu1 : #310767;
	--bleu2 : #1B003E;
}

body {
    font-family:'Antic','SourceSansProRegular';
    font-weight: lighter;
    font-size: 18px;
    letter-spacing: 1px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
	overflow: hidden;
    z-index: 0;
    background-color: rgb(240,240,240);
}
::-webkit-scrollbar {
    width: auto;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 0px 10px 10px 0px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

html { 
	height: 100%;
	margin: 0px;
	overflow: hidden;
}

h1,h2,h3,h4,h5,p {
	margin: 0;
	padding: 0;
}

h1 { 
font-size: 100px;
font-family: "StarJedi";
}

h2 { 
font-size: 60px;
font-family: "StarHole";
}

h3 {
	font-family: 'Antic';
	font-weight: 500;
}

p {
	text-align: justify;
	color: black;
	font-size: 18px;
	line-height: 25px;
}

a:hover,a:focus,a:visited {
	text-decoration: none;
}

ora {
	color: #E9531C;
}

/*#outside*/
	/*#outside_navbar*/
		#outside_navbar { 
			position: absolute;
			top: 0px;
			height: 150px;
			width: 101%;
			font-size: 25px;
			text-align: center;
			background-color: var(--orange2);
			z-index: 30;
			-webkit-box-sizing: border-box;
			box-shadow: 0px 5px 30px var(--bleu2);
		}
		.ANIMnavbar-shrink { 
			animation-duration: 0.45s;
			animation-direction: normal;
			animation-name: navbarShrink;
			-webkit-animation-fill-mode: forwards;
			-webkit-animation-timing-function: linear;
			-moz-animation-timing-function: linear;
			-ms-animation-timing-function: linear;
		}
		@keyframes navbarShrink { 
			0% { 
				height: 150px;
				font-size: 25px;
			}
			100% {
				height: 75px;
				font-size: 20px;
			}
		}
		.ANIMnavbar-resize { 
			animation-duration: 0.45s;
			animation-direction: normal;
			animation-name: navbarResize;
			-webkit-animation-fill-mode: forwards;
			-webkit-animation-timing-function: linear;
			-moz-animation-timing-function: linear;
			-ms-animation-timing-function: linear;
		}
		@keyframes navbarResize { 
			0% { 
				height: 75px;
				font-size: 20px;
			}
			100% {
				height: 150px;
				font-size: 25px;
			}
		}
		/*.outside_navbar_soc*/
			#outside_navbar_soc {
				position: absolute;
				left: 30px;
				top: 60px;
			}
			.ANIMsoc-shrink { 
				animation-duration: 0.45s;
				animation-direction: normal;
				animation-name: socShrink;
				-webkit-animation-fill-mode: forwards;
				-webkit-animation-timing-function: linear;
				-moz-animation-timing-function: linear;
				-ms-animation-timing-function: linear;
			}
			@keyframes socShrink { 
				0% { 
					top: 60px;
				}
				100% {
					top: 17.5px;
				}
			}
			.ANIMsoc-resize { 
				animation-duration: 0.45s;
				animation-direction: normal;
				animation-name: socResize;
				-webkit-animation-fill-mode: forwards;
				-webkit-animation-timing-function: linear;
				-moz-animation-timing-function: linear;
				-ms-animation-timing-function: linear;
			}
			@keyframes socResize { 
				0% { 
					top: 17.5px;
				}
				100% {
					top: 60px;
				}
			}
				#outside_navbar_soc a, #outside_navbar_soc a:visited  {
					font-size: 30px;
					color: white;
					margin-left: 10px;
					text-shadow: 0 0 2px white;
					-webkit-transition: font-size 0.25s, text-shadow 0.25s, color 0.25s;
				}
				#outside_navbar_soc a:hover, #outside_navbar_soc a:active {
					font-size: 35px;
					text-shadow: 0 0 20px white;
				} 
		/*#outside_navbar_logo*/
			#outside_navbar_logo {
				position: relative;
				display: inline-block;
				margin-top: 5px;
				margin-left: 0px;
				height: 140px;
				width: 140px;
			}
			.ANIMlogo-shrink { 
				animation-duration: 0.45s;
				animation-direction: normal;
				animation-name: logoShrink;
				-webkit-animation-fill-mode: forwards;
				-webkit-animation-timing-function: linear;
				-moz-animation-timing-function: linear;
				-ms-animation-timing-function: linear;
			}
			@keyframes logoShrink { 
				0% { 
					height: 140px;
					width: 140px;
				}
				100% {
					height: 65px;
					width: 65px;
				}
			}
			.ANIMlogo-resize { 
				animation-duration: 0.45s;
				animation-direction: normal;
				animation-name: logoResize;
				-webkit-animation-fill-mode: forwards;
				-webkit-animation-timing-function: linear;
				-moz-animation-timing-function: linear;
				-ms-animation-timing-function: linear;
			}
			@keyframes logoResize { 
				0% { 
					height: 65px;
					width: 65px;
				}
				100% {
					height: 140px;
					width: 140px;
				}
			}
			#outside_navbar_logo img { 
				position: relative;
				width: 100%;
				height: 100%;
			}
		/*#outside_navbar_btns*/
			#outside_navbar_btns { 
				position: relative;
				display: inline-block;
				text-align: center;
				-webkit-box-sizing: border-box;
				font-family: "BebasNeueRegular";
				letter-spacing: 1px;
				line-height: 25px;
				vertical-align: middle;
				color: var(--bleu2);
				height: 100%;
				margin-left: 15px;
			}
			a.outside_navbar_btns_element, a.outside_navbar_btns_element:focus, a.outside_navbar_btns_element:visited { 
				position: relative;
				text-decoration: none;
				text-align: center;
				color: var(--bleu2);
				margin-right: 10px;
				letter-spacing: 1px;
				-webkit-transition : text-shadow 0.25s;
			}
			a.outside_navbar_btns_element:hover, a.outside_navbar_btns_element:active { 
				color: var(--bleu1);
				text-shadow: 0px 0px 10px white;
			}
	/*#outside_shade*/
		#outside_shade {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0px;
			background-color: rgba(0,0,0,0.2);
			z-index: 200;
			visibility: hidden;
		}

/*#content*/
	#content { 
		position: absolute;
		top: 75px;
		left: 0%;
		width: 100%;
		height: calc(100% - 75px);
		overflow-x: hidden;
		overflow-y: hidden;
		z-index: 0;
	}
	/*.content_element*/
		.content_element { 
			position: absolute;
			height: 100%;
			width: 100%;
			overflow-x: hidden;
		}
	/*.ANIM AND OTHERS*/
		.ANIMcontent {
			-webkit-transform: translate3d(0%,0%,0);
			transform: translate3d(0%,0%,0);
			-webkit-transition: transform 300ms linear;
			transition: transform 300ms linear;
			-webkit-backface-visibility: hidden;
			-webkit-perspective: none;
		}

	/*#content_home*/
		#content_home { 
			background-image: url("../img/poster1.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			z-index: 20;
		}
		/*#content_home_title*/
			#content_home_title{ 
				position: absolute;
				width: 100%;
				top: 10%;
				text-align: center;
				letter-spacing: 1.5px;
				text-shadow: 0px 0px 1px white;
				color: var(--orange2);
			}
				.ANIMtitle-move { 
					animation-duration: 5s;
					animation-direction: alternate;
					animation-name: slightTitleLight;
					animation-iteration-count: infinite;
					-webkit-animation-timing-function: linear;
					-moz-animation-timing-function: linear;
					-ms-animation-timing-function: linear;
				}
				@keyframes slightTitleLight { 
					from { 
						text-shadow: 0px 0px 0px white;
					}
					to {
						text-shadow: 0px 0px 20px white;
					}
				}
		/*#content_home_discover*/ 
			#content_home_discover { 
				position: absolute;
				width: 100%;
				text-align: center;
				font-family: "SourceSansProLight";
				color: rgb(240,240,240);
				top: calc(100% - 120px);
			}
			#content_home_discover a, #content_home_discover a:visited { 
				font-size: 40px;
				color: inherit;
				text-decoration: none;
				transition: font-size 0.2s, color 0.2s;
				-webkit-transition: font-size 0.2s;
			}
			#content_home_discover a:hover, #content_home_discover a:active, #content_home_discover a:focus { 
				font-size: 47px;
				color: inherit;
				text-decoration: none;
			}
			/*ANIM AND OTHERS*/
				.ANIMdiscover-color { 
					animation-duration: 5s;
					animation-direction: alternate;
					animation-name: slightDiscoverColor;
					animation-iteration-count: infinite;
					-webkit-animation-timing-function: ease-in-out;
					-moz-animation-timing-function: ease-in-out;
					-ms-animation-timing-function: ease-in-out;
				}
				@keyframes slightDiscoverColor { 
					0% { 
						color: rgb(240,240,240);
						text-shadow: 0px 0px 5px white;
					}
					50% { 
						color: var(--bleu2);
						text-shadow: 0px 0px 10px white;
					}
					100% {
						color: var(--orange4);
						text-shadow: 0px 0px 5px white;
					}
				}
				.ANIMhome-topReplace { 
					-webkit-transform: translate3d(0,0%,0);
					transform: translate3d(0,0%,0);
					-webkit-transition: transform 450ms linear;
					transition: transform 450ms linear;
					-webkit-backface-visibility: hidden;
					-webkit-perspective: none;
				}
				.ANIMhome-topHiding { 
					-webkit-transform: translate3d(0,calc(100px - 100%),0);
					transform: translate3d(0,-100%,0);
					-webkit-transition: transform 450ms linear;
					transition: transform 450ms linear;
					-webkit-backface-visibility: hidden;
					-webkit-perspective: none;
				}	 

	/*#content_pres*/
		#content_pres { 
			position: absolute;
			top: 0%;
			left: 0%;
			background-color: rgb(250,250,250)
			z-index: 10;
			overflow-x: hidden;
			display: block;
		}
		/*#content_pres_intro*/
			#content_pres_intro {
				position: relative;
				margin-top: 0;
				width: 100%;
				background-color: white;
				text-align: center;
				-webkit-box-sizing: border-box;
				padding-top: 75px;
			}
				#content_pres_intro h2 {
					color : var(--orange4);
				}
				#content_pres_intro p {
					position: relative;
					margin: 50px 0px 75px 0px;
					display: block;
					width: 50%;
					text-align: justify;
					margin-left: 25%;
					margin-right: 25%;
				}
				#content_pres_intro img {
					position: relative;
					margin: 30px 0px 60px 0px;
					width: 40%;
				}
			#content_pres_elements {
				position: relative;
				background: -webkit-linear-gradient(left top, var(--orange1), var(--orange1) 40%, var(--orange4) 40%, var(--orange4));
				width: 100vw;
				min-height: 100vh;
				-webkit-box-sizing: border-box;
				padding-top: calc(65vh - 12.5vw);
			}
				.content_pres_element {
					position: relative;
					width: 25vw;
					height: auto;
					margin-right: 2.5vw;
					margin-left: 2.5vw;
					vertical-align: middle;
					display: inline-block;
					text-align: center;
					cursor: pointer;
					-webkit-transition: font-size 0.5s, text-shadow 0.5s, width 0.5s;
					font-size: 25px;
				}
				.content_pres_element:nth-child(1) {
					margin-left: 5vw;
				}
				.content_pres_element:nth-child(3) {
					margin-right: 5vw;
				}
				.content_pres_element img {
					height: auto;
					width: 25%;
					display: inline-block;
				}
				.content_pres_element h3 {
					color: white;
					text-shadow: 0px 0px 20px var(--bleu2);
					display: block;
					-webkit-box-sizing: border-box;
					line-height: 15px;
					margin-top: 7px;
				}
				.content_pres_element:hover, .content_pres_element:active {
					font-size: 30px;
					text-shadow: 0px 0px 50px white;
					width: 27vw;
				}

	/*#content_arts*/
		#content_arts {
			position: absolute;
			top: 0px;
			left: 100%;
			z-index: 10;
			overflow-y: scroll;
			background-color: white;
		}
		#content_arts_fresh {
			background: -webkit-linear-gradient(left top, var(--bleu1), var(--bleu1) 40%, var(--bleu2) 40%, var(--bleu2));
		}
		#content_arts_jvs {
			background: -webkit-linear-gradient(left bottom, var(--orange2), var(--orange2) 35%, var(--orange3) 35%, var(--orange3));
		}
		#content_arts_mangas {
			background: -webkit-linear-gradient(right bottom, goldenrod, goldenrod 30%, gold 30%, gold);
		}
		#content_arts_fantasy {
			background: -webkit-linear-gradient(right top, dodgerblue, dodgerblue 40%, deepskyblue 30%, deepskyblue);
		}
		#content_arts_poster {
			position: relative;
			width: 100vw;
			height: 50vh;
			background-color: dodgerblue;
		}
		#content_arts_poster h3 {
			position: absolute;
			bottom: 30px;
			width: 70%;
			left: 15%;
			font-family: "StarJedi";
			color: var(--orange3);
			font-size: 30px;
			text-align: center;
		}

		/*.content_arts_cat*/
			.content_arts_cat {
				position: relative;
				display: inline-block;
				width: 100vw;
			}
			/*.content_arts_cat h2*/
				.content_arts_cat h2 {
					position: relative;
					margin-top: 10px;
					width: 100vw;
					text-align: center;
					color: white;
					margin-bottom: 10px;
					font-family: "Starjedi";
				}
			/*.content_arts_cat_art*/
				.content_arts_cat_art{
					position: relative;
					height: 15vh;
					margin-bottom: 5vh;
					width: 60vw;
					margin-left: 20vw;
					margin-right: 20vw;
					border-radius: 10px;
					background-image: url(../img/testFFXV.jpg);
					background-position-x: var(--bgPosX); 
					background-position-y: var(--bgPosY);
					cursor: pointer;
					opacity: 0.80;
					text-shadow: 0 0 10px black;
					box-shadow: 0 0 10px black;
					-webkit-transition: text-shadow 0.2s, opacity 0.2s, background-position-y 0.2s, box-shadow 0.2s;
				}
				.content_arts_cat_art:hover, .content_arts_cat_art:active {
					text-shadow: 0 0 20px black;
					opacity: 1;
					box-shadow: 0 0 15px black;
					background-position-y: calc(var(--bgPosY) - 2.5%);
				}
					.content_arts_cat_art_name {
						position: absolute;
						top: 1vh;
						left: 2.5vw;
						color: white;
						font-size: 20px;
					}
					.content_arts_cat_art_dateAuthor {
						position: absolute;
						bottom: 1vh;
						left: 2.5vw;
						color: white;
						font-size: 14px;
					}
					.content_arts_cat_art_cat {
						position: absolute;
						bottom: 1vh;
						right: 2.5vw;
						color: white;
						font-size: 14px;
						font-style: italic;
					}
				.content_arts_cat_more {
					position: relative;
					-webkit-box-sizing: border-box;
					padding-top: 25px;
					padding-bottom: 25px;
					text-align: center;
					width: 100vw;
					background-color: rgba(0,0,0,0.2);
				}
					.content_arts_cat_more a, .content_arts_cat_more a:visited, .content_arts_cat_more a:focus {
						text-decoration: none;
						color: white;
						font-size: 20px;
					}
					.content_arts_cat_more a:hover, .content_arts_cat_more a:active {
						text-decoration: none;
						color: rgb(200,200,200);
						text-decoration: underline;
						text-underline-position: right under;
						font-size: 20px;
					}



		
	/*#content_vids*/
		#content_vids {
			position: absolute;
			top: 0%;
			left: 200%;
			z-index: 10;
			display: inline;
			overflow-x: hidden;
			background: -webkit-linear-gradient(left top, darkslategrey, darkslategrey 67%, darkcyan 67%, darkcyan);
		}
		/*#content_vids_lastVid*/
			#content_vids_lastVid {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 75%;
				background-image: url("../img/pgw.jpg");
				background-size: cover;
				-webkit-box-sizing: border-box;
				padding-left: 5vw;
				padding-right: 5vw;
				box-shadow: inset 0 0 7px 3px black;
				text-shadow: 0px 0px 7px white;
				-webkit-transition: box-shadow 0.5s, text-shadow 0.5s;
				cursor: pointer;
			}
			#content_vids_lastVid h2 {
				position: relative;
				margin-top: 5vh;
				color: var(--orange4);
				font-family: "Starjedi";		
			}
			#content_vids_lastVid h3 {
				position: relative;
				margin-top: 3vh;
				color: white;
			}
			#content_vids_lastVid:hover {
				box-shadow: inset 0 0 15px 10px black;
				text-shadow: 0px 0px 20px white;
			}
			/*.content_vids_lastVid_watchBtn*/
				.content_vids_lastVid_watchBtn {
					position: absolute;
					bottom: 50px;
					padding: 15px 15px;
					padding-bottom: 10px;
					color: white;
					font-family: "BebasNeueRegular";
					letter-spacing: 1.5px;
					background-color: var(--orange4);
					border-radius: 10px;
					box-shadow: 0 0 2px white;
					cursor: pointer;
					-webkit-transition: box-shadow 0.3s, border-radius 0.3s, background-color 0.3s;
				}
				.content_vids_lastVid_watchBtn:hover, .content_vids_lastVid_watchBtn:active {
					border-radius: 0px;
					box-shadow: 0 0 10px white;
					background-color: var(--orange2);
				}
			/*#content_vids_cats*/
				#content_vids_cats {
					position: absolute;
					top: 75%;
					width: 100%;
				}
				/*.content_vids_cat*/
					.content_vids_cat {
						width: 100vw;
						position: relative;
						display: block;
						--bgCatColor: white;
						background-color: var(--bgCatColor);
						box-shadow: 0px 0px 25px var(--bgCatColor);
						-webkit-box-sizing: border-box;
						padding: 20px 0px 40px 0px;
						margin: 80px 0px 80px 0px;
					}
					.content_vids_cat h2 {
						position: relative;
						width: 100%;
						text-align: center;
						margin-bottom: 10px;
						font-family: "StarJedi";
					}
					.content_vids_cat_more {
						position: absolute;
						top: 10px;
						left: 90%;
						z-index: 20;
						color: white;
						font-size: 20px;
						text-shadow: 0 0 5px white;
						-webkit-transition: color 0.2s, text-shadow 0.2s;
						cursor: pointer;
					}
					.content_vids_cat_more:hover {
						color: var(--bleu1);
						text-shadow: 0 0 10px white;
					}
					#content_vids_cats_jvs h2 {
						color: var(--orange2);
						text-shadow: 2px 2px 2px var(--bleu2);
					}
					#content_vids_cats_jvs {
						--bgCatColor: rgba(246,127,18,0.7);
					} 
					#content_vids_cats_mangas h2 {
						color: gold;
						text-shadow: 2px 2px 2px var(--bleu2);
					} 
					#content_vids_cats_mangas {
						--bgCatColor: rgba(218,165,32,0.7);
					}
					#content_vids_cats_fantasy h2 {
						color: dodgerblue;
						text-shadow: 2px 2px 2px var(--bleu2);
					} 
					#content_vids_cats_fantasy {
						--bgCatColor: rgba(30,144,255,0.7);						
					}
					.content_vids_cat .content_vids_cat_vid {
						width: 19.25vw;
						margin-right: 4vw;
						position: relative;
						display: inline-block;
						border: none;
						--vidTxtShad: 5px;
						--vidBoxShad: 7.5px;
						text-shadow: 0px 0px var(--vidTxtShad) white;
						-webkit-transition: text-shadow 0.25s, box-shadow 0.25s;
						cursor: pointer;
					}
					.content_vids_cat .content_vids_cat_vid:first-of-type {
						margin-left: 4vw;
					}
					.content_vids_cat .content_vids_cat_vid iframe {
						border: none;
						box-shadow: 0px 0px var(--vidBoxShad) var(--bleu2);
					}
					.content_vids_cat .content_vids_cat_vid h3 {
						text-align: center;
						color: white;
						margin-top: 10px;
					}
					.content_vids_cat_vid:hover, .content_vids_cat_vid:active {
						--vidTxtShad : 10px;
						--vidBoxShad: 15px;
					}

	/*#content_evs*/
		#content_evs {
			position: absolute;
			top: 0%;
			left: 300%;
			z-index: 10;
			background: -webkit-linear-gradient(right top, indigo, indigo 45%, darkslateblue 45%, darkslateblue);
			display: inline;
			overflow: hidden;
			-webkit-box-sizing: border-box;
			padding-left: 10vw;
		}
		/*.content_evs_ev*/
			.content_evs_ev {
				position: relative;
				display: inline-block;
				height: 80%;
				margin-top: 6%;
				width: 20vw;
				background-color: red;
				margin-right: 9vw;
				background-size: auto 100%;
				background-position: center;
				background-repeat: no-repeat;
				border-radius: 10px;
				box-shadow: 0 0 10px white;	
				cursor: pointer;
				--h3TextShad: 5px;
				--pTextShad: 3px;
				-webkit-transition: box-shadow 0.3s, border-radius 0.3s;
			}
			.content_evs_ev p {
				position: absolute;
				top: 30px;
				color: white;
				width: 100%;
				text-align: center;
				font-size: 30px;
				font-family: "Antic";
				text-shadow: 0 0 var(--pTextShad) white;
				-webkit-transition: text-shadow 0.3s;
			}
			.content_evs_ev h3 {
				position: absolute;
				width: 100%;
				text-align: center;
				bottom: 50px;
				font-family: "StarJedi";
				color: var(--orange3);
				text-shadow: 0 0 var(--h3TextShad) var(--orange1);
				-webkit-transition: text-shadow 0.3s;
			}
			.content_evs_ev:hover {
				border-radius: 5px;
				box-shadow: 0 0 20px white;
				--h3TextShad: 10px;
				--pTextShad: 8px;
			}
			.content_evs_ev:nth-of-type(1) {
				background-image: url("../img/doge1.jpg");
			}
			.content_evs_ev:nth-of-type(2) {
				background-image: url("../img/doge2.jpg");
			}
			.content_evs_ev:nth-of-type(3) {
				background-image: url("../img/doge3.jpg");
			}

	/*#content_contact*/
		#content_contact {
			position: absolute;
			top: 0%;
			left: 400%;
			z-index: 10;
			background: -webkit-linear-gradient(bottom right, midnightblue, midnightblue 30%, navy 30%, navy);
			text-align: center;
		}
		#content_contact p {
			position: relative;
			margin-top: 100px;
			width: 100%;
			text-align: center;
			font-family: "StarJedi";
			color: var(--orange2);
			display: block;
			text-shadow: 0 0 1px var(--orange1);
			font-size: 30px;
		}
		#content_contact h3 {
			position: relative;
			text-align: center;
			color: var(--orange3);
			margin-top: 50px;
			cursor: pointer;
			text-shadow: 0 0 4px var(--orange2);
		}
		#content_contact img {
			position: relative;
			height: 300px;
			width: 300px;
			margin-top: 50px;
		}
		#content_contact span {
			position: relative;
			display: block;
			font-size: 15px;
			color: white;
			text-shadow: 0 0 3px white;
			margin-top: 30px;
		}