@font-face { font-family: "BebasNeueBold"; 	src: url('../fonts/BebasNeue/BebasNeueBold.ttf'); }
@font-face { font-family: "BebasNeueBook"; 	src: url('../fonts/BebasNeue/BebasNeueBook.ttf'); }
@font-face { font-family: "BebasNeueLight"; src: url('../fonts/BebasNeue/BebasNeueLight.ttf'); }
@font-face { font-family: "BebasNeueRegular"; src: url('../fonts/BebasNeue/BebasNeueRegular.ttf'); }
@font-face { font-family: "BebasNeueThin"; 	src: url('../fonts/BebasNeue/BebasNeueThin.ttf'); }

@font-face { font-family: "StarJedi"; 	src: url('../fonts/Star/Starjedi.ttf'); }
@font-face { font-family: "StarHole"; 	src: url('../fonts/Star/Starjhol.ttf'); }
@font-face { font-family: "StarOut"; 	src: url('../fonts/Star/Starjout.ttf'); }

@font-face { font-family: "SourceSansProBold"; 	src: url('../fonts/sourceSansPro/SourceSansProBold.ttf'); }
@font-face { font-family: "SourceSansProLight"; src: url('../fonts/sourceSansPro/SourceSansProLight.ttf'); }
@font-face { font-family: "SourceSansProRegular"; src: url('../fonts/sourceSansPro/SourceSansProRegular.ttf'); }
@font-face { font-family: "SourceSansProSemibold"; 	src: url('../fonts/sourceSansPro/SourceSansProSemibold.ttf'); }

body {
    font-family:'Antic','SourceSansProRegular';
    font-weight: lighter;
    font-size: 18px;
    letter-spacing: 1px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
	overflow: hidden;
    z-index: 0;
    background-color: rgb(240,240,240);
}
::-webkit-scrollbar {
    width: auto;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 0px 10px 10px 0px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

html { 
	height: 100%;
	margin: 0px;
	overflow: hidden;
}

h1,h2,h3,h4,h5,p {
	margin: 0;
	padding: 0;
}

h1 { 
font-size: 100px;
font-family: "StarJedi";
}

h2 { 
font-size: 60px;
font-family: "StarHole";
}

h3 {
	font-family: 'Antic';
	font-weight: 500;
}

p {
	text-align: justify;
	color: black;
	font-size: 18px;
	line-height: 25px;
}

a:hover,a:focus,a:visited {
	text-decoration: none;
}

ora {
	color: #E9531C;
}

/*#outside*/
	/*#outside_navbar*/
		#outside_navbar { 
			position: absolute;
			top: 0px;
			height: 150px;
			width: 101%;
			font-size: 25px;
			text-align: center;
			background-color: #F67F12;
			z-index: 30;
			-webkit-box-sizing: border-box;
			box-shadow: 0px 3px 5px #F67F12;
		}
		.ANIMnavbar-shrink { 
			animation-duration: 0.45s;
			animation-direction: normal;
			animation-name: navbarShrink;
			-webkit-animation-fill-mode: forwards;
			-webkit-animation-timing-function: linear;
			-moz-animation-timing-function: linear;
			-ms-animation-timing-function: linear;
		}
		@keyframes navbarShrink { 
			0% { 
				height: 150px;
				font-size: 25px;
			}
			100% {
				height: 75px;
				font-size: 20px;
			}
		}
		.ANIMnavbar-resize { 
			animation-duration: 0.45s;
			animation-direction: normal;
			animation-name: navbarResize;
			-webkit-animation-fill-mode: forwards;
			-webkit-animation-timing-function: linear;
			-moz-animation-timing-function: linear;
			-ms-animation-timing-function: linear;
		}
		@keyframes navbarResize { 
			0% { 
				height: 75px;
				font-size: 20px;
			}
			100% {
				height: 150px;
				font-size: 25px;
			}
		}
		/*.outside_navbar_soc*/
			#outside_navbar_soc {
				position: absolute;
				left: 30px;
				top: 60px;
			}
			.ANIMsoc-shrink { 
				animation-duration: 0.45s;
				animation-direction: normal;
				animation-name: socShrink;
				-webkit-animation-fill-mode: forwards;
				-webkit-animation-timing-function: linear;
				-moz-animation-timing-function: linear;
				-ms-animation-timing-function: linear;
			}
			@keyframes socShrink { 
				0% { 
					top: 60px;
				}
				100% {
					top: 17.5px;
				}
			}
			.ANIMsoc-resize { 
				animation-duration: 0.45s;
				animation-direction: normal;
				animation-name: socResize;
				-webkit-animation-fill-mode: forwards;
				-webkit-animation-timing-function: linear;
				-moz-animation-timing-function: linear;
				-ms-animation-timing-function: linear;
			}
			@keyframes socResize { 
				0% { 
					top: 17.5px;
				}
				100% {
					top: 60px;
				}
			}
				#outside_navbar_soc a, #outside_navbar_soc a:visited  {
					font-size: 30px;
					color: white;
					margin-left: 10px;
					text-shadow: 0 0 2px white;
					-webkit-transition: font-size 0.25s, text-shadow 0.25s, color 0.25s;
				}
				#outside_navbar_soc a:hover, #outside_navbar_soc a:active {
					font-size: 35px;
					text-shadow: 0 0 20px white;
				} 
		/*#outside_navbar_logo*/
			#outside_navbar_logo {
				position: relative;
				display: inline-block;
				margin-top: 5px;
				margin-left: 0px;
				height: 140px;
				width: 140px;
			}
			.ANIMlogo-shrink { 
				animation-duration: 0.45s;
				animation-direction: normal;
				animation-name: logoShrink;
				-webkit-animation-fill-mode: forwards;
				-webkit-animation-timing-function: linear;
				-moz-animation-timing-function: linear;
				-ms-animation-timing-function: linear;
			}
			@keyframes logoShrink { 
				0% { 
					height: 140px;
					width: 140px;
				}
				100% {
					height: 65px;
					width: 65px;
				}
			}
			.ANIMlogo-resize { 
				animation-duration: 0.45s;
				animation-direction: normal;
				animation-name: logoResize;
				-webkit-animation-fill-mode: forwards;
				-webkit-animation-timing-function: linear;
				-moz-animation-timing-function: linear;
				-ms-animation-timing-function: linear;
			}
			@keyframes logoResize { 
				0% { 
					height: 65px;
					width: 65px;
				}
				100% {
					height: 140px;
					width: 140px;
				}
			}
			#outside_navbar_logo img { 
				position: relative;
				width: 100%;
				height: 100%;
			}
		/*#outside_navbar_btns*/
			#outside_navbar_btns { 
				position: relative;
				display: inline-block;
				text-align: center;
				-webkit-box-sizing: border-box;
				font-family: "BebasNeueRegular";
				letter-spacing: 1px;
				line-height: 25px;
				vertical-align: middle;
				color: #1B003E;
				height: 100%;
				margin-left: 15px;
			}
			a.outside_navbar_btns_element, a.outside_navbar_btns_element:focus, a.outside_navbar_btns_element:visited { 
				position: relative;
				text-decoration: none;
				text-align: center;
				color: #1B003E;
				margin-right: 10px;
				letter-spacing: 1px;
				-webkit-transition : text-shadow 0.25s;
			}
			a.outside_navbar_btns_element:hover, a.outside_navbar_btns_element:active { 
				color: #310767;
				text-shadow: 0px 0px 10px white;
			}
	/*#outside_shade*/
		#outside_shade {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0px;
			background-color: rgba(0,0,0,0.2);
			z-index: 200;
			visibility: hidden;
		}

/*#content*/
	#content { 
		position: absolute;
		top: 75px;
		left: 0%;
		width: 100%;
		height: calc(100% - 75px);
		overflow-x: hidden;
		overflow-y: hidden;
		z-index: 0;
	}
	/*.content_element*/
		.content_element { 
			position: absolute;
			height: 100%;
			width: 100%;
			overflow-x: hidden;
		}
	/*.ANIM AND OTHERS*/
		.ANIMcontent {
			-webkit-transform: translate3d(0%,0%,0);
			transform: translate3d(0%,0%,0);
			-webkit-transition: transform 300ms linear;
			transition: transform 300ms linear;
			-webkit-backface-visibility: hidden;
			-webkit-perspective: none;
		}

	/*#content_home*/
		#content_home { 
			background-image: url("../img/poster1.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			z-index: 20;
		}
		/*#content_home_title*/
			#content_home_title{ 
				position: absolute;
				width: 100%;
				top: 10%;
				text-align: center;
				letter-spacing: 1.5px;
				text-shadow: 0px 0px 1px white;
				color: #F67F12;
			}
				.ANIMtitle-move { 
					animation-duration: 5s;
					animation-direction: alternate;
					animation-name: slightTitleLight;
					animation-iteration-count: infinite;
					-webkit-animation-timing-function: linear;
					-moz-animation-timing-function: linear;
					-ms-animation-timing-function: linear;
				}
				@keyframes slightTitleLight { 
					from { 
						text-shadow: 0px 0px 0px white;
					}
					to {
						text-shadow: 0px 0px 20px white;
					}
				}
		/*#content_home_discover*/ 
			#content_home_discover { 
				position: absolute;
				width: 100%;
				text-align: center;
				font-family: "SourceSansProLight";
				color: rgb(240,240,240);
				top: calc(100% - 120px);
			}
			#content_home_discover a, #content_home_discover a:visited { 
				font-size: 40px;
				color: inherit;
				text-decoration: none;
				transition: font-size 0.2s, color 0.2s;
				-webkit-transition: font-size 0.2s;
			}
			#content_home_discover a:hover, #content_home_discover a:active, #content_home_discover a:focus { 
				font-size: 47px;
				color: inherit;
				text-decoration: none;
			}
			/*ANIM AND OTHERS*/
				.ANIMdiscover-color { 
					animation-duration: 5s;
					animation-direction: alternate;
					animation-name: slightDiscoverColor;
					animation-iteration-count: infinite;
					-webkit-animation-timing-function: ease-in-out;
					-moz-animation-timing-function: ease-in-out;
					-ms-animation-timing-function: ease-in-out;
				}
				@keyframes slightDiscoverColor { 
					0% { 
						color: rgb(240,240,240);
						text-shadow: 0px 0px 5px white;
					}
					50% { 
						color: #1B003E;
						text-shadow: 0px 0px 10px white;
					}
					100% {
						color: #F6930F;
						text-shadow: 0px 0px 5px white;
					}
				}
				.ANIMhome-topReplace { 
					-webkit-transform: translate3d(0,0%,0);
					transform: translate3d(0,0%,0);
					-webkit-transition: transform 450ms linear;
					transition: transform 450ms linear;
					-webkit-backface-visibility: hidden;
					-webkit-perspective: none;
				}
				.ANIMhome-topHiding { 
					-webkit-transform: translate3d(0,calc(100px - 100%),0);
					transform: translate3d(0,-100%,0);
					-webkit-transition: transform 450ms linear;
					transition: transform 450ms linear;
					-webkit-backface-visibility: hidden;
					-webkit-perspective: none;
				}	 

	/*#content_pres*/
		#content_pres { 
			position: absolute;
			top: 0%;
			left: 0%;
			background-color: rgb(250,250,250)
			z-index: 10;
			overflow-x: hidden;
			display: block;
		}
		/*#content_pres_intro*/
			#content_pres_intro {
				position: relative;
				margin-top: 0;
				width: 100%;
				background-color: white;
				text-align: center;
				-webkit-box-sizing: border-box;
				padding-top: 75px;
			}
				#content_pres_intro h2 {
					color : #F6930F;
				}
				#content_pres_intro p {
					position: relative;
					margin: 50px 0px 75px 0px;
					display: block;
					width: 50%;
					text-align: justify;
					margin-left: 25%;
					margin-right: 25%;
				}
				#content_pres_intro img {
					position: relative;
					margin: 30px 0px 60px 0px;
					width: 40%;
				}
			#content_pres_elements {
				position: relative;
				background: -webkit-linear-gradient(left top, #FFAC09, #FFAC09 40%, #F6930F 40%, #F6930F);
				width: 100vw;
				min-height: 100vh;
				-webkit-box-sizing: border-box;
				padding-top: calc(65vh - 12.5vw);
			}
				.content_pres_element {
					position: relative;
					width: 25vw;
					height: auto;
					margin-right: 2.5vw;
					margin-left: 2.5vw;
					vertical-align: middle;
					display: inline-block;
					text-align: center;
					cursor: pointer;
					-webkit-transition: font-size 0.5s, text-shadow 0.5s, width 0.5s;
					font-size: 25px;
				}
				.content_pres_element:nth-child(1) {
					margin-left: 5vw;
				}
				.content_pres_element:nth-child(3) {
					margin-right: 5vw;
				}
				.content_pres_element img {
					height: auto;
					width: 25%;
					display: inline-block;
				}
				.content_pres_element h3 {
					color: white;
					text-shadow: 0px 0px 20px #1B003E;
					display: block;
					-webkit-box-sizing: border-box;
					line-height: 15px;
					margin-top: 7px;
				}
				.content_pres_element:hover, .content_pres_element:active {
					font-size: 30px;
					text-shadow: 0px 0px 50px white;
					width: 27vw;
				}

	/*#content_arts*/
		#content_arts {
			position: absolute;
			top: 0px;
			left: 100%;
			z-index: 10;
			overflow-y: scroll;
			background-color: white;
		}
		#content_arts_fresh {
			background: -webkit-linear-gradient(left top, #310767, #310767 40%, #1B003E 40%, #1B003E);
		}
		#content_arts_jvs {
			background: -webkit-linear-gradient(left bottom, #F67F12, #F67F12 35%, #E9531C 35%, #E9531C);
		}
		#content_arts_mangas {
			background: -webkit-linear-gradient(right bottom, goldenrod, goldenrod 30%, gold 30%, gold);
		}
		#content_arts_fantasy {
			background: -webkit-linear-gradient(right top, dodgerblue, dodgerblue 40%, deepskyblue 30%, deepskyblue);
		}

		/*.content_arts_cat*/
			.content_arts_cat {
				position: relative;
				display: inline-block;
				width: 100vw;
			}
			/*.content_arts_cat h2*/
				.content_arts_cat h2 {
					position: relative;
					margin-top: 10px;
					width: 100vw;
					text-align: center;
					color: white;
					margin-bottom: 10px;
					font-family: "Starjedi";
				}
			/*.content_arts_cat_art*/
				.content_arts_cat_art {
					position: relative;
					height: 15vh;
					background-color: blue;
					margin-bottom: 5vh;
					width: 60vw;
					margin-left: 20vw;
					margin-right: 20vw;
					border-radius: 10px;
					background-image: url(../img/testFFXV.jpg);
					background-position: 0% 20%;
					cursor: pointer;
					opacity: 0.80;
					text-shadow: 0 0 10px black;
					-webkit-transition: text-shadow 0.15s, opacity 0.15s, background-position 0.15s;
				}
				.content_arts_cat_art:hover, .content_arts_cat_art:active {
					text-shadow: 0 0 20px black;
					opacity: 1;
					background-position: 0% 17.5%;
				}
					.content_arts_cat_art_name {
						position: absolute;
						top: 1vh;
						left: 2.5vw;
						color: white;
						font-size: 20px;
					}
					.content_arts_cat_art_dateAuthor {
						position: absolute;
						bottom: 1vh;
						left: 2.5vw;
						color: white;
						font-size: 14px;
					}
					.content_arts_cat_art_cat {
						position: absolute;
						bottom: 1vh;
						right: 2.5vw;
						color: white;
						font-size: 14px;
						font-style: italic;
					}
				.content_arts_cat_more {
					position: relative;
					-webkit-box-sizing: border-box;
					padding-top: 25px;
					padding-bottom: 25px;
					text-align: center;
					width: 100vw;
					background-color: rgba(0,0,0,0.2);
				}
					.content_arts_cat_more a, .content_arts_cat_more a:visited, .content_arts_cat_more a:focus {
						text-decoration: none;
						color: white;
						font-size: 20px;
					}
					.content_arts_cat_more a:hover, .content_arts_cat_more a:active {
						text-decoration: none;
						color: rgb(200,200,200);
						text-decoration: underline;
						text-underline-position: right under;
						font-size: 20px;
					}



		
	/*#content_vids*/
		#content_vids {
			position: absolute;
			top: 0%;
			left: 200%;
			z-index: 10;
			display: inline;
			overflow-x: hidden;
			background: -webkit-linear-gradient(left top, darkslategrey, darkslategrey 67%, darkcyan 67%, darkcyan);
		}
		/*#content_vids_lastVid*/
			#content_vids_lastVid {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 75%;
				background-image: url("../img/pgw.jpg");
				background-size: cover;
				-webkit-box-sizing: border-box;
				padding-left: 5vw;
				padding-right: 5vw;
				box-shadow: inset 0 0 7px 3px black;
			}
			#content_vids_lastVid h2 {
				position: relative;
				margin-top: 5vh;
				color: #F6930F;
				font-family: "Starjedi";
				text-shadow: 0px 0px 10px white;
			}
			#content_vids_lastVid h3 {
				position: relative;
				margin-top: 3vh;
				color: white;
				text-shadow: 0px 0px 10px white;
			}
			/*.content_vids_lastVid_watchBtn*/
				.content_vids_lastVid_watchBtn {
					position: absolute;
					bottom: 50px;
					padding: 15px 15px;
					padding-bottom: 10px;
					color: white;
					font-family: "BebasNeueRegular";
					letter-spacing: 1.5px;
					background-color: #F6930F;
				}

	/*#content_evs*/
		#content_evs {
			position: absolute;
			top: 0%;
			left: 300%;
			z-index: 10;
			background-color: indigo;
			display: inline;
			overflow: hidden;
		}

	/*#content_contact*/
		#content_contact {
			position: absolute;
			top: 0%;
			left: 400%;
			z-index: 10;
			background-color: midnightblue;
		}