@font-face { font-family: "BebasNeueBold"; 	src: url('../fonts/BebasNeue/BebasNeueBold.ttf'); }
@font-face { font-family: "BebasNeueBook"; 	src: url('../fonts/BebasNeue/BebasNeueBook.ttf'); }
@font-face { font-family: "BebasNeueLight"; src: url('../fonts/BebasNeue/BebasNeueLight.ttf'); }
@font-face { font-family: "BebasNeueRegular"; src: url('../fonts/BebasNeue/BebasNeueRegular.ttf'); }
@font-face { font-family: "BebasNeueThin"; 	src: url('../fonts/BebasNeue/BebasNeueThin.ttf'); }
@font-face { font-family: "BebasNeue"; 	src: url('../fonts/BebasNeue/BebasNeue.eot'); }

@font-face { font-family: "SourceSansProBold"; 	src: url('../fonts/sourceSansPro/SourceSansProBold.ttf'); }
@font-face { font-family: "SourceSansProLight"; src: url('../fonts/sourceSansPro/SourceSansProLight.ttf'); }
@font-face { font-family: "SourceSansProRegular"; src: url('../fonts/sourceSansPro/SourceSansProRegular.ttf'); }
@font-face { font-family: "SourceSansProSemibold"; 	src: url('../fonts/sourceSansPro/SourceSansProSemibold.ttf'); }

body {
    font-family:'SourceSansProRegular', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:15px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
	overflow: hidden;
    z-index: 0;
    background-color: rgb(240,240,240);
}
::-webkit-scrollbar {
    width: auto;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 0px 10px 10px 0px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

html { 
	height: 100%;
	margin: 0px;
	overflow: hidden;
}

a:hover,a:focus,a:visited {
	text-decoration: none;
}

yel {
	color: #FFD200;
}

/*#outside*/
	/*#outside_navbar*/
		#outside_navbar { 
			position: absolute;
			top: 8px;
			height: 40px;
			padding-top: 10px;
			width: 100%;
			text-align: center;
			color: rgb(240,240,240);
			z-index: 30;
			font-size: 20px;
			font-family: "SourceSansProLight";
		}
		a.outside_navbar_element, a.outside_navbar_element:focus, a.outside_navbar_element:visited { 
			position: relative;
			text-decoration: none;
			text-align: center;
			color: rgb(240,240,240);
			margin-right: 10px;
			letter-spacing: 1px;
		}
		a.outside_navbar_element:hover, a.outside_navbar_element:active { 
			color: rgb(200,200,200);
		}
		/*#outside_navbar_homeBtn*/
			#outside_navbar_homeBtn {
				color: #EBC400;
			}
	/*#outside_shade*/
		#outside_shade {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0px;
			background-color: rgba(0,0,0,0.2);
			z-index: 200;
			visibility: hidden;
		}

/*#content*/
	#content { 
		position: absolute;
		top: 0%;
		left: 0%;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		overflow-y: hidden;
		z-index: 0;
	}
	/*.content_element*/
		.content_element { 
			position: absolute;
			height: 100%;
			width: 100%;
		}
	/*.ANIM AND OTHERS*/
		.ANIMcontent {
			-webkit-transform: translate3d(0%,0%,0);
			transform: translate3d(0%,0%,0);
			-webkit-transition: transform 300ms linear;
			transition: transform 300ms linear;
			-webkit-backface-visibility: hidden;
			-webkit-perspective: none;
		}

	/*#content_home*/
		#content_home { 
			background-image: url("../img/bgEurope.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			z-index: 20;
			border-radius: 0px 0px 5px 5px;
		}
		/*#content_home_title*/
			#content_home_title { 
				font-family: "BebasNeueRegular";
				font-size: 100px;
				letter-spacing: 1.5px;
				position: absolute;
				width: 100%;
				text-align: center;
				top: 120px;
				text-shadow: 1px 1px 0.5px #1A1E41;
				color: rgb(240,240,240);
			}
		/*#content_home_chevron*/ 
			#content_home_chevron { 
				position: absolute;
				width: 100%;
				text-align: center;
				color: rgb(200,200,200);
				top: calc(100% - 120px);
			}
			#content_home_chevron a, #content_home_chevron a:hover, #content_home_chevron a:active, #content_home_chevron a:focus, #content_home_chevron a:visited { 
				font-size: 75px;
				color: rgb(200,200,200);
				text-decoration: none;
					animation-duration: 2s;
					animation-direction: alternate;
					animation-name: slightColor;
					animation-iteration-count: infinite;
					-webkit-animation-timing-function: ease-in-out;
					-moz-animation-timing-function: ease-in-out;
					-ms-animation-timing-function: ease-in-out;
			}
			/*ANIM AND OTHERS*/
				@keyframes slightColor { 
					from { 
						color: rgb(200,200,200);
					}
					to {
						color: #EBC400;
					}
				}
				.ANIMchevron-moving {
					animation-duration: 2s;
					animation-direction: alternate;
					animation-name: slightMove;
					animation-iteration-count: infinite;
					-webkit-animation-timing-function: ease-in-out;
					-moz-animation-timing-function: ease-in-out;
					-ms-animation-timing-function: ease-in-out;
				}
				@keyframes slightMove { 
					from { 
						top: calc(100% - 120px);
					}
					to { 
						top: calc(100% - 110px);
					}
				}
				.ANIMchevron-show {
				    -webkit-transform: translate3d(0,0,0);
					animation-duration: 1s;
					animation-name: appearing;
					-webkit-animation-timing-function: linear;
					-webkit-animation-fill-mode: forwards;
				}
					@keyframes appearing {
					  from {
					    opacity: 0;
					    visibility: hidden;
					    
					  }
					  to {
					    opacity: 1;
					    visibility: visible;
					    
					  }
					}
				.ANIMchevron-hide {
				    -webkit-transform: translate3d(0,0,0);
					animation-duration: 1s;
					animation-name: disappearing;
					-webkit-animation-timing-function: linear;
					-webkit-animation-fill-mode: forwards;
				}
					@keyframes disappearing {
					  from {
					  	opacity: 1;
					    visibility: visible;
					   
					  }
					  to {
					  	opacity: 0;
					    visibility: hidden;
					    
					  }
					}
				.ANIMhome-unopacify {
					animation-duration: 1s;
					animation-name: unopacification;
					-webkit-animation-timing-function: linear;
					-webkit-animation-fill-mode: forwards;
				}
					@keyframes unopacification {
						from {
							opacity: 1;
						}
						to {
							opacity: 0.55;
						}
					}
				.ANIMhome-opacify {
					animation-duration: 1s;
					animation-name: opacification;
					-webkit-animation-timing-function: linear;
					-webkit-animation-fill-mode: forwards;
				}
					@keyframes opacification {
						from {
							opacity: 0.55;
						}
						to {
							opacity: 1;
						}
					}
				.ANIMhome-topCollapsing { 
					-webkit-transform: translate3d(0,100%,0);
					transform: translate3d(0,100%,0);
					-webkit-transition: transform 450ms linear;
					transition: transform 450ms linear;
					-webkit-backface-visibility: hidden;
					-webkit-perspective: none;
				}
				.ANIMhome-topReplace { 
					-webkit-transform: translate3d(0,0%,0);
					transform: translate3d(0,0%,0);
					-webkit-transition: transform 450ms linear;
					transition: transform 450ms linear;
					-webkit-backface-visibility: hidden;
					-webkit-perspective: none;
				}
				.ANIMhome-topHiding { 
					-webkit-transform: translate3d(0,calc(50px - 100%),0);
					transform: translate3d(0,calc(50px - 100%),0);
					-webkit-transition: transform 450ms linear;
					transition: transform 450ms linear;
					-webkit-backface-visibility: hidden;
					-webkit-perspective: none;
				}	 

	/*#content_24June*/
		#content_24June { 
			position: absolute;
			top: 0%;
			left: 0%;
			background-color: #44537F;
			z-index: 10;
			overflow-y: hidden;
		}
		/*#content_24June_title*/
			#content_24June_title { 
				position: absolute;
				top: 75px;
				font-size: 120px;
				color: rgb(255,255,255);
				font-family: "BebasNeueBold";
				width: 100%;
				text-align: center;
			}
		/*#content_24June_contents*/
			#content_24June_contents {
				position: absolute;
				top: 200px;
				height: calc(100% - 201px);
				width: 100%;
				background-color: rgb(230,230,230);
				border-left: solid 3px #EBC400;
				padding-left: 200px;
				padding-right: 200px;
				font-size: 20px;
				font-family: "SourceSansProRegular";
				padding-top: 100px;
				padding-bottom: 100px;
				-webkit-box-sizing: border-box;
				overflow-y: scroll;
				overflow-x: hidden;
			}
			/*#content_24June_contents_text*/
				#content_24June_contents_text { 
					position: relative;
					margin-top: 50px;
				}
			/*#content_24June_contents_manifest*/
				#content_24June_contents_manifest {
					position: relative;
					margin-top: 50px;
					text-align: justify;
					box-shadow: 0px 0px 5px rgb(120,120,120);
					padding: 20px;
					padding-bottom: 3em;
				}
				/*#content_24June_contents_manifest_title*/
					#content_24June_contents_manifest_title {
						text-align: center;
					}

	/*#content_props*/
		#content_props {
			position: absolute;
			top: 0px;
			left: 100%;
			z-index: 10;
			background-color: #44537F;
		}
		/*#content_props_btns*/
			#content_props_btns {
				position: absolute;
				top: 50px;
				font-size: 17px;
				font-weight: bold;
				z-index: 20;
				height: 100%;
				width: 8%;
				-webkit-box-sizing: border-box;
				padding-right: 30px;
				box-shadow: 1px 1px 2.5px 1px #44537F;
				background-color: rgb(200,200,200);
			}
			a.content_props_btn, a.content_props_btn:focus, a.content_props.btn:visited {
				position: relative;
				display: block;
				text-decoration: none;
				text-align: left;
				width: 100%;
				color: #44537F;
				margin-top: 20px;
				margin-left: 10px;
			}
			a.content_props_btn:hover, a.content_props_btn:active {
				color: #0C2671;
			}
			a.content_props_btn:nth-child(1) {
				color: #0C2671;
			}

		/*#content_props_elements*/ 
			#content_props_elements {
				position: absolute;
				top: 50px;
				height: 100%;
				width: 100%;
				overflow-x: hidden;
				overflow-y: hidden;
				z-index: 10;
			}
			/*.content_props_element*/
				.content_props_element {
					position: absolute;
					width: 100%;
					height: calc(100% - 50px);
					overflow-y: scroll;
					overflow-x: hidden; 
					z-index: 10;
				}
				#content_props_inst {
					left: 0%;
					background-color: white;
					margin-bottom: 50px;
				}
				#content_props_eco {
					left: 100%;
					background-color: white;
				}
				#content_props_innov {
					left: 200%;
					background-color: white;
				}
				#content_props_def {
					left: 300%;
					background-color: white;
				}
				#content_props_cult {
					left: 400%;
					background-color: white;
				}
				/*.content_props_element_prop*/
					.content_props_element_prop {
						position: relative;
						width: 80%;
						margin-left: 10%;
						margin-right: 10%;
						height: 200px;
						margin-top: 100px;
						margin-bottom: 100px;
						-webkit-box-sizing: border-box;
						background-color: rgb(240,240,240);
						border-radius: 11px;
						border: solid 1px #44537F;
					}
					/*.content_props_element_prop_title*/
						.content_props_element_prop_title {
							position: absolute;
							top: 0%;
							width: 100%;
							background-color: #44537F;
							height: 70px;
							border-radius: 10px 10px 0px 0px;
						}
						.content_props_element_prop_title_name {
							position: absolute;
							width: calc(100% - 40px);
							left: 40px;
							text-align: center;
							font-size: 40px;
							top: 15px;
							color: rgb(240,240,240);
							letter-spacing: 1.5px;
						}
						.content_props_element_prop_title_voteNumber {
							position: absolute;
							font-size: 30px;
							top: 20px;
							right: 70px;
							color: #0061FF;
						}
						a.content_props_element_prop_title_check,a.content_props_element_prop_title_check:visited,a.content_props_element_prop_title_check:focus {
							position: absolute;
							font-size: 30px;
							top: 20px;
							right: 20px;
							color: #0061FF;
						}
						a.content_props_element_prop_title_check:hover,.content_props_element_prop_title_check:active {
							position: absolute;
							font-size: 30px;
							top: 20px;
							right: 20px;
							color: #EBC400;
						}
					.content_props_element_prop_summary {
						position: absolute;
						width: 80%;
						top: 70px;
						text-align: left;
						left: 10%;
						height: 130px;
						-webkit-box-sizing: border-box;
						padding-top: 20px;
						padding-bottom: 20px;
						font-size: 20px;
						color: rgb(20,20,20);
						letter-spacing: 1px;
					}
			/*#content_props_elements_post*/
				a#content_props_elements_post {
					position: absolute;
					bottom: 75px;
					right: 3%;
					width: 6vw;
					height: 6vw;
					border-radius: 50%;
					z-index: 20;
					background-color: #44537F;
					color: rgb(200,200,200);
					font-size: 3vw;
					padding-top: 1.25vw;
					padding-left: 1.5vw;
					-webkit-box-sizing: border-box;
				}
				a#content_props_elements_post:hover {
					height: 6vw;
					color: rgb(220,220,220);
					border-radius: 50%;
					z-index: 20;
					background-color: #0061FF;
				}
			/*#content_props_elements_infos*/
				#content_props_elements_infos {
					width: 8vw;
					height: 50px;
					position: absolute;
					background-color: black;
					z-index: 20;
					right: 2vw;
					bottom: calc(110px + 6vw);
					-moz-border-radius: 10px;
					-webkit-border-radius: 10px;
					border-radius: 10px;
					color: white;
					font-size: 15px;
					text-align: center;
					-webkit-box-sizing: border-box;
					padding-top: 5px;
				}
				#content_props_elements_infos:before {
					content:"";
					position: absolute;
					top: 100%;
					left: calc(50% - 13px);
					width: 0;
					height: 0;
					border-left: 13px solid transparent;
					border-right: 13px solid transparent;
					border-top: 26px solid black;
				}

		/*#content_props_form*/
			#content_props_form {
				position: absolute;
				width: 40%;
				height: 70%;
				left: 30%;
				top: 15%;
				background-color: #44537F;
				z-index: 110;
				border-radius: 10px;
				box-shadow: 0px 0px 8px #44537F;
			}
			/*#content_props_form_titleInput*/
				#content_props_form_titleInput {
					position: relative;
					margin-top: 10px;
					width: 90%;
					margin-left: 5%;
					height: 30px;
					font-size: 20px;
					-webkit-box-sizing: border-box;
					padding-top: 5px;
					border-radius: 10px;
					border: none;
					padding-left: 10px;
				}
				#content_props_form_titleInput:active,#content_props_form_titleInput:focus {
					outline: none;
					box-shadow: 0 0 10px black;
				}
			/*#content_props_form_subjSelect*/
				#content_props_form_subjSelect {
					position: relative;
					margin-top: 10px;
					width: 90%;
					margin-left: 5%;
					height: 20px;
					font-size: 15px;
					-webkit-box-sizing: border-box;
					padding-top: 2.5px;
					border-radius: 10px;
					border: none;					
				}
				#content_props_form_subjSelect:active,#content_props_form_subjSelect:focus {
					outline: none;
					box-shadow: 0 0 10px black;
				}
			/*#content_props_form_input*/
				#content_props_form_input {
					position: relative;
					resize: none;
					margin-top: 10px;
					left: 5%;
					width: 90%;
					height: calc(100% - 130px);
					z-index: 20;
					border-radius: 10px;
					-webkit-box-sizing: border-box;
					padding: 30px;
					border: none;
					box-shadow: none;
					font-size: 15px;
					line-height: 17px;
					letter-spacing: 1px;
				}
				#content_props_form_input:active,#content_props_form_input:focus {
					outline: none;
					box-shadow: 0 0 10px black;
				}
				#content_props_form_input::-webkit-scrollbar {
				    width: auto;
				}
				 
				#content_props_form_input::-webkit-scrollbar-track {
				    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
				    border-radius: 0px 10px 10px 0px;
				}
				 
				#content_props_form_input::-webkit-scrollbar-thumb {
				    border-radius: 10px;
				    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
				}
			/*#content_props_form_submit*/
				#content_props_form_submit,#content_props_form_submit:focus {
					position: relative;
					margin-top: 10px;
					width: 25%;
					font-size: 15px;
					font-family: "BebasNeueLight";
					letter-spacing: 1.5px;
					background-color: #44537F;
					color: white;
					text-align: center;
					line-height: 15px;
					height: 30px;
					-webkit-box-sizing: border-box;
					padding-top: 7.5px;
					border: solid 1px rgb(200,200,200);
					border-radius: 50px;
					margin-left: 37.5%;
					outline: none;
					cursor: pointer;
				}
				#content_props_form_submit:hover {
					background-color: #0C2671;
				}
		 		#content_props_form_submit:active{
					background-color: rgb(200,200,200);
					color: white;
					outline: none;
					border: solid 1px rgb(200,200,200);
					border-radius: 50px;			
				}
			/*#content_props_form_close*/
				#content_props_form_close {
					position: absolute;
					bottom: 2.5%;
					right: 10px;
					color: white;
				}
				#content_props_form_close:hover {
					color: rgb(200,200,200);
				}

		/*#content_props_secondForm*/
			#content_props_secondForm {
				position: absolute;
				width: 50%;
				height: 200px;
				left: 25%;
				top: 15%;
				background-color: #44537F;
				z-index: 110;
				border-radius: 10px;
				box-shadow: 0px 0px 8px #44537F;
			}
			/*#content_props_secondForm_title*/
				#content_props_secondForm_title {
					position: relative;
					margin-top: 10px;
					width: 100%;
					height: 30px;
					font-size: 20px;
					-webkit-box-sizing: border-box;
					padding-top: 10px;
					color: white;
					text-align: center;
				}
			/*#content_props_secondForm_mailInput*/
				#content_props_secondForm_mailInput {
					position: relative;
					margin-top: 20px;
					width: 90%;
					margin-left: 5%;
					height: 30px;
					font-size: 20px;
					-webkit-box-sizing: border-box;
					padding-top: 5px;
					border-radius: 10px;
					border: none;					
				}
				#content_props_secondForm_mailInput:active,#content_props_secondForm_mailInput:focus {
					outline: none;
					box-shadow: 0 0 10px black;
				}
			/*#content_props_secondForm_passwordInput*/
				#content_props_secondForm_passwordInput {
					position: relative;
					margin-top: 20px;
					width: 90%;
					margin-left: 5%;
					height: 30px;
					font-size: 20px;
					-webkit-box-sizing: border-box;
					padding-top: 5px;
					border-radius: 10px;
					border: none;					
				}
				#content_props_secondForm_passwordInput:active,#content_props_secondForm_passwordInput:focus {
					outline: none;
					box-shadow: 0 0 10px black;
				}
			/*#content_props_secondForm_submit*/
				#content_props_secondForm_submit,#content_props_secondForm_submit:focus {
					position: relative;
					margin-top: 20px;
					width: 25%;
					font-size: 15px;
					font-family: "BebasNeueLight";
					letter-spacing: 1.5px;
					background-color: #44537F;
					color: white;
					text-align: center;
					line-height: 15px;
					height: 30px;
					-webkit-box-sizing: border-box;
					padding-top: 7.5px;
					border: solid 1px rgb(200,200,200);
					border-radius: 50px;
					margin-left: 37.5%;
					outline: none;
					cursor: pointer;
				}
				#content_props_secondForm_submit:hover {
					background-color: #0C2671;
				}
		 		#content_props_secondForm_submit:active{
					background-color: rgb(200,200,200);
					color: white;
					outline: none;
					border: solid 1px rgb(200,200,200);
					border-radius: 50px;			
				}
			/*#content_props_secondForm_close*/
				#content_props_secondForm_close {
					position: absolute;
					bottom: 2.5%;
					right: 10px;
					color: white;
				}
				#content_props_secondForm_close:hover {
					color: rgb(200,200,200);
				}

		/*#content_props_shade*/
			#content_props_shade {
				position: absolute;
				height: 100%;
				width: 100%;
				background-color: rgba(0,0,0,0.2);
				z-index: 100;
				visibility: hidden;
			}
		
		/*ANIM AND OTHERS*/
			.ANIMprops {
				-webkit-transform: translate3d(0%,0%,0);
				transform: translate3d(0%,0%,0);
				-webkit-transition: transform 200ms linear;
				transition: transform 200ms linear;
				-webkit-backface-visibility: hidden;
				-webkit-perspective: none;
			}
		

		

	/*#content_posts*/
		#content_posts {
			position: absolute;
			top: 0%;
			left: 200%;
			z-index: 10;
			background-color: #44537F;
			display: inline;
			overflow: hidden;
		}
		/*#content_posts_container*/
			#content_posts_container {
				position: absolute;
				width: 100%;
				height: calc(100% - 50px);
				top: 50px;
				left: 0;
				-webkit-box-sizing: border-box;
				z-index: 20;
				overflow-x: hidden;
				overflow-y: hidden;
			}
			/*#content_posts_container_title*/
				#content_posts_container_title {
					position: absolute;
					width: 100%;
					top: 0;
					height: 100px;
					font-size: 80px;
					-webkit-box-sizing: border-box;
					padding-top: 20px;
					line-height: 80px;
					font-family: "BebasNeueBold";
					color: white;
					letter-spacing: 1.5px;
					text-align: center;
				}
			/*#content_posts_container_elements*/ 
				#content_posts_container_elements {
					position: absolute;
					width: 100%;
					height: calc(100% - 100px);
					top: 100px;
					left: 0;
					-webkit-box-sizing: border-box;
					padding-left: 20vw;
					padding-right: 20vw;
					padding-bottom: 50px;
					z-index: 20;
					background-color: rgb(200,200,200);
					overflow-x: hidden;
					overflow-y: scroll;
				}
				/*.content_posts_container_element*/
					.content_posts_container_element {
						position: relative;
						display: inline-block;
						margin-top: 5vw;
						z-index: 20;
						border-radius: 10px;
						background-image: url("../img/postsBg/postBg1.jpg");
						background-repeat: no-repeat;
						background-size: 100% 100%;
						font-size: 35px;
						font-family: "BebasNeueBook";
						letter-spacing: 1.5px;
						color: white;
						transition-property: font-size, color, border-radius;
						transition-duration: 0.5s;
						cursor: pointer;
						box-shadow: 0px 0px 4px black;
						text-shadow: 1px 1px 2px black;
						height: 25vw;
						width: 60vw;
					}
					.content_posts_container_element:hover {
						box-shadow: 0px 0px 10px black;
						background-color: rgba(0,0,0,0.2);
						font-size: 38px;
						border-radius: 50px;
						color: #EBC400;
					}
					.content_posts_container_element_title {
						position: absolute;
						bottom: 0;
						left: 0;
						-webkit-box-sizing: border-box;
						padding-bottom: 15px;
						padding-left: 30px;
						padding-right: 30px;
						width: 100%;
						text-align: left;
					}
					.content_posts_container_element_date {
						position: absolute;
						top: 0;
						right: 0;
						-webkit-box-sizing: border-box;
						width: 100%;
						padding-top: 15px;
						padding-left: 30px;
						padding-right: 30px;
						text-align: right;
					} 

	/*#content_team*/
		#content_team {
			position: absolute;
			top: 0%;
			left: 300%;
			z-index: 10;
			background-color: #44537F;
			display: inline;
			overflow: hidden;
		}
		/*#content_team_container*/
			#content_team_container {
				position: absolute;
				width: 100%;
				height: calc(100% - 50px);
				top: 50px;
				left: 0;
				-webkit-box-sizing: border-box;
				z-index: 20;
				overflow-x: hidden;
				overflow-y: hidden;
			}
			/*#content_team_container_title*/
				#content_team_container_title {
					position: absolute;
					width: 100%;
					top: 0;
					height: 100px;
					font-size: 80px;
					-webkit-box-sizing: border-box;
					padding-top: 20px;
					line-height: 80px;
					font-family: "BebasNeueBold";
					color: white;
					letter-spacing: 1.5px;
					text-align: center;
				}
			/*#content_team_container_elements*/ 
				#content_team_container_elements {
					position: absolute;
					width: 100%;
					height: calc(100% - 100px);
					top: 100px;
					left: 0;
					-webkit-box-sizing: border-box;
					padding-left: 7.5vw;
					padding-bottom: 50px;
					z-index: 20;
					background-color: rgb(200,200,200);
					overflow-x: hidden;
					overflow-y: scroll;
				}
				/*.content_team_container_element*/
					.content_team_container_element {
						position: relative;
						display: inline-block;
						margin-right: 5vw;
						width: 25vw;
						height: 25vw;
						margin-top: 5vw;
						z-index: 20;
						border-radius: 50%;
						background-repeat: no-repeat;
						background-size: 100% 100%;
						font-size: 35px;
						font-family: "BebasNeueRegular";
						letter-spacing: 1.5px;
						color: white;
						transition-property: font-size, border-radius;
						transition-duration: 0.75s;
						cursor: pointer;
						box-shadow: 0px 0px 4px black;
						text-shadow: 1px 1px 2px black;
					}
					.content_team_container_element_image { 
						position: absolute;
						width: 100%;
						height: 100%;
						border-radius: 50%;
						transition-property: border-radius;
						transition-duration: 0.75s;
					}
					.content_team_container_element_image:hover {
						border-radius: 45%;
					}
					.content_team_container_element_title {
						position: absolute;
						-webkit-box-sizing: border-box;
						width: 100%;
						bottom: 10px;
						text-align: center;
					}
					.content_team_container_element:hover {
						box-shadow: 0px 0px 10px black;
						background-color: rgba(0,0,0,0.2);
						font-size: 38px;
						border-radius: 45%;
						color: #EBC400;
					} 

	/*#content_contact*/
		#content_contact {
			position: absolute;
			top: 0%;
			left: 400%;
			z-index: 10;
			background-color: white;
		}