@font-face { font-family: "BebasNeueBold"; 	src: url('../fonts/BebasNeue/BebasNeueBold.ttf'); }
@font-face { font-family: "BebasNeueBook"; 	src: url('../fonts/BebasNeue/BebasNeueBook.ttf'); }
@font-face { font-family: "BebasNeueLight"; src: url('../fonts/BebasNeue/BebasNeueLight.ttf'); }
@font-face { font-family: "BebasNeueRegular"; src: url('../fonts/BebasNeue/BebasNeueRegular.ttf'); }
@font-face { font-family: "BebasNeueThin"; 	src: url('../fonts/BebasNeue/BebasNeueThin.ttf'); }

@font-face { font-family: "StarJedi"; 	src: url('../fonts/Star/Starjedi.ttf'); }
@font-face { font-family: "StarHole"; 	src: url('../fonts/Star/Starjhol.ttf'); }
@font-face { font-family: "StarOut"; 	src: url('../fonts/Star/Starjout.ttf'); }

@font-face { font-family: "SourceSansProBold"; 	src: url('../fonts/sourceSansPro/SourceSansProBold.ttf'); }
@font-face { font-family: "SourceSansProLight"; src: url('../fonts/sourceSansPro/SourceSansProLight.ttf'); }
@font-face { font-family: "SourceSansProRegular"; src: url('../fonts/sourceSansPro/SourceSansProRegular.ttf'); }
@font-face { font-family: "SourceSansProSemibold"; 	src: url('../fonts/sourceSansPro/SourceSansProSemibold.ttf'); }

:root {
	--orange1 : #FFAC09;
	--orange2 : #F67F12;
	--orange3 : #E9531C;
	--orange4 : #F6930F;
	--bleu1 : #310767;
	--bleu2 : #1B003E;
}

body {
    font-family:'Antic','SourceSansProRegular';
    font-weight: lighter;
    font-size: 18px;
    letter-spacing: 1px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
	overflow: hidden;
    z-index: 0;
    background-color: rgb(240,240,240);
}
::-webkit-scrollbar {
    width: auto;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 0px 10px 10px 0px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

html { 
	height: 100%;
	margin: 0px;
	overflow: hidden;
}

h1,h2,h3,h4,h5,p {
	margin: 0;
	padding: 0;
}

h1 { 
font-size: 100px;
font-family: "StarJedi";
}

h2 { 
font-size: 60px;
font-family: "StarHole";
}

h3 {
	font-family: 'Antic';
	font-weight: 500;
	font-size: 25px;
	text-shadow: 0 0 5px var(--bleu2);
	margin-top: 20px;
	margin-bottom: 20px;
}

p {
	text-align: justify;
	color: black;
	font-size: 18px;
	line-height: 25px;
}

a:hover,a:focus,a:visited {
	text-decoration: none;
}

ora {
	color: #E9531C;
}

/*#outside*/
	/*#outside_navbar*/
		#outside_navbar { 
			position: absolute;
			top: 0px;
			height: 150px;
			width: 101%;
			font-size: 25px;
			text-align: center;
			background-color: var(--orange2);
			z-index: 30;
			-webkit-box-sizing: border-box;
			box-shadow: 0px 5px 30px var(--bleu2);
		}
		.ANIMnavbar-shrink { 
			animation-duration: 0.45s;
			animation-direction: normal;
			animation-name: navbarShrink;
			-webkit-animation-fill-mode: forwards;
			-webkit-animation-timing-function: linear;
			-moz-animation-timing-function: linear;
			-ms-animation-timing-function: linear;
		}
		@keyframes navbarShrink { 
			0% { 
				height: 150px;
				font-size: 25px;
			}
			100% {
				height: 75px;
				font-size: 20px;
			}
		}
		.ANIMnavbar-resize { 
			animation-duration: 0.45s;
			animation-direction: normal;
			animation-name: navbarResize;
			-webkit-animation-fill-mode: forwards;
			-webkit-animation-timing-function: linear;
			-moz-animation-timing-function: linear;
			-ms-animation-timing-function: linear;
		}
		@keyframes navbarResize { 
			0% { 
				height: 75px;
				font-size: 20px;
			}
			100% {
				height: 150px;
				font-size: 25px;
			}
		}
		/*.outside_navbar_soc*/
			#outside_navbar_soc {
				position: absolute;
				left: 30px;
				top: 60px;
			}
			.ANIMsoc-shrink { 
				animation-duration: 0.45s;
				animation-direction: normal;
				animation-name: socShrink;
				-webkit-animation-fill-mode: forwards;
				-webkit-animation-timing-function: linear;
				-moz-animation-timing-function: linear;
				-ms-animation-timing-function: linear;
			}
			@keyframes socShrink { 
				0% { 
					top: 60px;
				}
				100% {
					top: 17.5px;
				}
			}
			.ANIMsoc-resize { 
				animation-duration: 0.45s;
				animation-direction: normal;
				animation-name: socResize;
				-webkit-animation-fill-mode: forwards;
				-webkit-animation-timing-function: linear;
				-moz-animation-timing-function: linear;
				-ms-animation-timing-function: linear;
			}
			@keyframes socResize { 
				0% { 
					top: 17.5px;
				}
				100% {
					top: 60px;
				}
			}
				#outside_navbar_soc a, #outside_navbar_soc a:visited  {
					font-size: 30px;
					color: white;
					margin-left: 10px;
					text-shadow: 0 0 2px white;
					-webkit-transition: font-size 0.25s, text-shadow 0.25s, color 0.25s;
				}
				#outside_navbar_soc a:hover, #outside_navbar_soc a:active {
					font-size: 35px;
					text-shadow: 0 0 20px white;
				} 
		/*#outside_navbar_logo*/
			#outside_navbar_logo {
				position: relative;
				display: inline-block;
				margin-top: 5px;
				margin-left: 0px;
				height: 140px;
				width: 140px;
			}
			.ANIMlogo-shrink { 
				animation-duration: 0.45s;
				animation-direction: normal;
				animation-name: logoShrink;
				-webkit-animation-fill-mode: forwards;
				-webkit-animation-timing-function: linear;
				-moz-animation-timing-function: linear;
				-ms-animation-timing-function: linear;
			}
			@keyframes logoShrink { 
				0% { 
					height: 140px;
					width: 140px;
				}
				100% {
					height: 65px;
					width: 65px;
				}
			}
			.ANIMlogo-resize { 
				animation-duration: 0.45s;
				animation-direction: normal;
				animation-name: logoResize;
				-webkit-animation-fill-mode: forwards;
				-webkit-animation-timing-function: linear;
				-moz-animation-timing-function: linear;
				-ms-animation-timing-function: linear;
			}
			@keyframes logoResize { 
				0% { 
					height: 65px;
					width: 65px;
				}
				100% {
					height: 140px;
					width: 140px;
				}
			}
			#outside_navbar_logo img { 
				position: relative;
				width: 100%;
				height: 100%;
			}
		/*#outside_navbar_btns*/
			#outside_navbar_btns { 
				position: relative;
				display: inline-block;
				text-align: center;
				-webkit-box-sizing: border-box;
				font-family: "BebasNeueRegular";
				letter-spacing: 1px;
				line-height: 25px;
				vertical-align: middle;
				color: var(--bleu2);
				height: 100%;
				margin-left: 15px;
			}
			a.outside_navbar_btns_element, a.outside_navbar_btns_element:focus, a.outside_navbar_btns_element:visited { 
				position: relative;
				text-decoration: none;
				text-align: center;
				color: var(--bleu2);
				margin-right: 10px;
				letter-spacing: 1px;
				-webkit-transition : text-shadow 0.25s;
			}
			a.outside_navbar_btns_element:hover, a.outside_navbar_btns_element:active { 
				color: var(--bleu1);
				text-shadow: 0px 0px 10px white;
			}
	/*#outside_shade*/
		#outside_shade {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0px;
			background-color: rgba(0,0,0,0.2);
			z-index: 200;
			visibility: hidden;
		}

	/*#art*/
		#art {
			position: absolute;
			background: -webkit-linear-gradient(right top, rgb(220,220,220), rgb(220,220,220) 30%, rgb(240,240,240) 30%, rgb(240,240,240));
			height: calc(100vh - 75px);
			width: 100vw;
			top: 75px;
			overflow-y: scroll;
			overflow-x: hidden;
		}
		/*#art_wrapper*/
			#art_wrapper {
				position: absolute;
				top: 0;
				width: 100vw;
				height: 90%;
				background-image: url(../artsBgs/art1.jpg);
				box-shadow: 0 0 15px black;
				text-shadow: 0px 0px 7px black;
				background-size: cover;
				background-repeat: no-repeat;
			}
			#art_wrapper artTitle {
				position: absolute;
				top: 100px;
				left: 30px;
				color: white;
				font-size: 50px;
			}
		/*#art_dateAndWriter*/ 
			#art_dateAndWriter {
				position: relative;
				display: block;
				width: 100vw
				font-size: 30px;
				color: black;
				margin-top: calc(0.95 * (100vh - 75px));
				text-align: center;
				font-style: italic;
			}
		/*#art_content*/
			#art_content {
				position: relative;
				display: inline-block;
				margin-top: 30px;
				width: 80vw;
				left: 10vw;
				line-height: 1.5em;
				text-align: center;
				-webkit-box-sizing: border-box;
				padding-bottom: 50px;
			}
			#art_content p {
				text-align: justify;
				padding-top: 20px;
				padding-bottom: 20px;
				text-shadow: 0px 0px 3px white;
			}
			#art_content span {
				display: block;
				font-size: 15px;
			}
			#art_content img {
				box-shadow: 0 0 10px rgba(20,20,20,0.8);
				margin-top: 20px;
				margin-bottom: 20px;
			}

		#art_backLink {
			position: relative;
			display: inline-block;
			margin-left: 50px;
			margin-bottom: 50px;
			color: var(--bleu2);
			text-decoration: none;
		}
		#art_backLink:hover {
			color: var(--bleu1);
			text-shadow: 0 0 5px white;
			text-decoration: underline;
		}

		.testConcl {
			width: 100%;
			margin-top: 30px;
			position: relative;
		}
		.testFrame {
			position: relative;
			display: inline-block;
			width: 40%;
			margin-left: 5%;
			margin-right: 5%;
			text-align: left;
		}
		.testFrame h3 {
			color: var(--orange1);
			text-shadow: none;
		}
		.testGrade {
			font-family: "StarJedi";
			color: var(--orange2);
			font-size: 30px;
			text-shadow: 0 0 10px var(--bleu2);
		}